.metadata/**/*
build-user.properties
java/server/adaptor/jmonkey/bin/**/*
java/server/ai/bin/**/*
java/server/core/bin/**/*
java/server/multiplayer/bin/**/*
java/examples/HelloWorldMultiplayer/bin/**/*
flash/client/ai/bin/**/*
flash/client/connection/bin/**/*
flash/client/core/bin/**/*
flash/client/multiplayer/bin/**/*
flash/client/pv3d-core/bin/**/*
flash/client/pv3d-multiplayer/bin/**/*
flash/examples/HelloPaperworld/bin/**/*
